{% extends "website/base.html" %}
{% load static %}
{% load filter %}
{% block content %}
  <link rel="stylesheet" href="{% static 'quest_log/styles.css' %}">

  <!-- Sidebar -->
  <aside id='contents' class="sidebar" role="navigation">
    <text id='title'>Contents</text>
    <ul>
      <li class="toclevel-1 tocsection-1"><a href="#Archon">Archon Quests</a></li>
        <ul>
          <li class="toclevel-2 tocsection-2"><a href='#Prologue'>Prologue</a></li>
          <li class="toclevel-2 tocsection-2"><a href='#Chapter 1'>Chapter 1</a></li>
        </ul>
      </li>
      <li class="toclevel-1 tocsection-4"><a href="#World">World Quests</a></li>
        <ul>
          <li class="toclevel-2 tocsection-2"><a href='#Mondstadt'>Mondstadt</a></li>
          <li class="toclevel-2 tocsection-2"><a href='#Liyue'>Liyue</a></li>
        </ul>
      <li class="toclevel-1 tocsection-4"><a href="#Commissions">Commissions</a></li>
    </ul>
  </aside>

  <aside id='legend' class="sidebar">
    <text id='title'>Legend</text>
    <ul>
      <li><img src="/media/Quest_Log/Archon.png"> Archon Quest</li>
      <li><img src="/media/Quest_Log/World_Quest.png"> World Quest</li>
      <li><img src="/media/Quest_Log/Commissions.png"> Commission</li>
      <li><img src="/media/Quest_Log/NPC.png"> NPC</li>
      <li><img src="/media/Quest_Log/Adventure_Rank.png"> Adventure Rank</li>
      <li><img src="/media/Quest_Log/Check.png"> Cleared</li>
    </ul>
  </aside>

  <!-- Archon -->
  <div class='content-section'>
    <h1 id='Archon'>Archon Quests</h1>
    {% for chapter, acts in Archon.items %}
      <div class='content-section'>
        <h3 id='{{ chapter }}'>{{ chapter }}</h3>
        {% for mission, reqs in acts.items %}
          <ul class="list-group">
            <li class="list-group-item">
              <h5 id='{{ mission }}'>
                {{ mission }}
              </h5>
              {% for req, other in reqs.items %}
                {% if req == 'Adventure Rank' and other != None %}
                  <div>
                    <span><img src="/media/Quest_Log/Adventure_Rank.png">: {{ other }}</span>
                  </div>
                {% else %}
                  <ul class="list-group">
                    {% for quest in other %}
                      <li id='{{ quest }}' class="list-group-item">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input"
                            id="defaultUnchecked-{{ quest }}">
                          <label class="custom-control-label" for="defaultUnchecked-{{i}}">
                            {{ quest }}
                          </label>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <!-- World -->
  <div class='content-section'>
    <h1 id='World'>World Quests</h1>
    {% for region, missions in World.items %}
      <div class='content-section'>
        <h3 id='{{ region }}'>{{ region }}</h3>
        {% for mission, reqs in missions.items %}
          <ul class="list-group">
            <li id='{{ mission }}' class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                  id="defaultUnchecked-{{mission}}"
                  {% if Check|Dict_finder:mission %} checked {% endif %}>
                <label class="custom-control-label" for="defaultUnchecked-{{mission}}">
                  {{ mission }}
                </label>
              </div>
              {% for req, other in reqs.items %}
                {% if other != None %}
                  <div>
                    <span>
                      {% if Check|Dict_finder:other %}
                        <img src="/media/Quest_Log/Check.png">: <a href='#{{ other }}'>{{ other }}</a>
                      {% elif req == 'Commission' %}
                        <img src="/media/Quest_Log/Commissions.png">: <a href='#{{ other }}'>{{ other }}</a>
                      {% elif req == 'World' %}
                        <img src="/media/Quest_Log/World_Quest.png">: <a href='#{{ other }}'>{{ other }}</a>
                      {% elif req == 'Archon' %}
                        <img src="/media/Quest_Log/Archon.png">: <a href='#{{ other }}'>{{ other }}</a>
                      {% elif req == 'NPC' %}
                        <img src="/media/Quest_Log/NPC.png">: {{ other }}
                      {% elif req == 'Adventure Rank' %}
                        <img src="/media/Quest_Log/Adventure_Rank.png">: {{ other }}
                      {% else %}
                        <b>{{ req }}</b>: {{ other }}
                      {% endif %}
                    </span>
                  </div>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <!-- Commissions -->
  <div class='content-section'>
    <h1 id='Commissions'>Commissions</h1>
    {% for mission, reqs in Commission.items %}
      <ul class="list-group">
        <li id='{{ mission }}' class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
              id="defaultUnchecked-{{mission}}"
              {% if Check|Dict_finder:mission %} checked {% endif %}>
            <label class="custom-control-label" for="defaultUnchecked-{{mission}}">
              {{ mission }}
            </label>
          </div>
          {% for req, other in reqs.items %}
            {% if other != None %}
              <div>
                <span><b>{{ req }}</b>: {{ other }}</span>
              </div>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock content %}
