{% extends "website/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'quest_log/styles.css' %}">
  <aside class='sidebar'>
    <a href='#Archon'>Archon Quests</a>
    <a href='#World'>World Quests</a>
    <a href='#Commissions'>Commissions</a>
  </aside>
  <div class='content-section'>
    <h1 id='Archon'>Archon Quests</h1>
    {% for chapter, missions in Archon.items %}
      <div class='content-section'>
        <h3>{{ chapter }}</h3>
        {% for mission, reqs in missions.items %}
          <ul class="list-group">
            <li class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked-{{mission}}">
                  <label class="custom-control-label" for="defaultUnchecked-{{mission}}">{{ mission }}</label>
              </div>
              {% for req, other in reqs.items %}
                {% if other != None %}
                  <div>
                    <span style="padding-left:40px;"><b>{{ req }}</b>: {{ other }}</span>
                  </div>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class='content-section'>
    <h1 id='World'>World Quests</h1>
    {% for region, missions in World.items %}
      <div class='content-section'>
        <h3>{{ region }}</h3>
        {% for mission, reqs in missions.items %}
          <ul class="list-group">
            <li class="list-group-item">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked-{{mission}}">
                  <label class="custom-control-label" for="defaultUnchecked-{{mission}}">{{ mission }}</label>
              </div>
              {% for req, other in reqs.items %}
                {% if other != None %}
                  <div>
                    <span style="padding-left:40px;"><b>{{ req }}</b>: {{ other }}</span>
                  </div>
                {% endif %}
              {% endfor %}
            </li>
          </ul>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class='content-section'>
    <h1 id='Commissions'>Commissions</h1>
    {% for mission, reqs in Commission.items %}
      <ul class="list-group">
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked-{{mission}}">
              <label class="custom-control-label" for="defaultUnchecked-{{mission}}">{{ mission }}</label>
          </div>
          {% for req, other in reqs.items %}
            {% if other != None %}
              <div>
                <span style="padding-left:40px;"><b>{{ req }}</b>: {{ other }}</span>
              </div>
            {% endif %}
          {% endfor %}
        </li>
      </ul>
    {% endfor %}
  </div>
{% endblock content %}
