.sidebar{
    display: grid;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    position: fixed;
    left: 50px;
    font-size: 2rem;
}

a{
    color: #333333;
}

a:hover{
    text-decoration: None;
}
