{% extends "website/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'resource_converter/styles.css' %}">
  <script src="{% static 'resource_converter/main.js' %}"></script>

  <form method='post'>
    {% csrf_token %}

    <!-- Activity -->
    <div class="input-group mb-3" id='Activity'>
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Activity</span>
      </div>
      <select class="form-control" id="ControlSelect">
        <option>World Boss</option>
        <option>Domain of Forgery</option>
        <option>Domain of Mastery</option>
      </select>
      <div class="input-group-prepend">
        <span class="input-group-text" id='label'>World Level</span>
      </div>
      <select class="form-control" id="usr_info">
        {% with ''|center:9 as range %}
        {% for _ in range %}
          <option>{{ forloop.counter0 }}</option>
        {% endfor %}
        {% endwith %}
      </select>
    </div>

    <!-- Goal -->
    <h1 align='center'>Goal</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <img src="/media/resource_converter/star.png">
        </span>
      </div>
      <select class="form-control" id='rarity'>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option id='5star'>5</option>
      </select>
      <div class="input-group-prepend">
        <span class="input-group-text">Amount</span>
      </div>
      <input type="number" min="0" max="20" class="form-control" value='0' id='goal'>
    </div>

    <!-- Materials -->
    <h1 align='center'>Inventory</h1>
    <div class="input-group mb-3" id='Materials'>
      <div class="input-group-prepend">
        <span class="input-group-text">
          2&nbsp;<img src="/media/resource_converter/star.png">
        </span>
      </div>
        <input type="number" min="0" class="form-control" id="2" value='0'>
      <div class="input-group-prepend">
        <span class="input-group-text">
          3&nbsp;<img src="/media/resource_converter/star.png">
        </span>
      </div>
        <input type="number" min="0" class="form-control" id="3" value='0'>
      <div class="input-group-prepend">
        <span class="input-group-text">
          4&nbsp;<img src="/media/resource_converter/star.png">
        </span>
      </div>
        <input type="number" min="0" class="form-control" id="4" value='0'>
      <div class="input-group-prepend" id='extra'>
        <span class="input-group-text">
          5&nbsp;<img src="/media/resource_converter/star.png">
        </span>
      </div>
        <input type="number" min="0" class="form-control" id="5" value='0'>
    </div>

    <!-- Report -->
    <div align='center'>
      <button type=button class="btn btn-outline-info">Report</button>
    </div>
  </form>
{% endblock content %}
